<!-- Footer -->
<section>
    <div class="page-footer blue-grey darken-3" id="footer">
        <div class="container">
            <div class="row">
                <div class="col l4 offset-l3">
                    <h1>
                        <i class="small material-icons">perm_identity</i>
                        Footer Content</h1>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l1 s12">
                    <h1>
                        <i class="small material-icons">perm_identity</i>
                        Contact</h1>
                    <ul>
                        <li>
                            <p>
                                <i class="tiny material-icons">phone</i>
                                +33(0)6 30 99 80 57</p>
                        </li>
                        <li>
                            <p>
                                <i class="tiny material-icons">email</i>
                                sebastien.palacin@gmail.com</p>
                        </li>
                        <li>
                            <p>
                                <i class="tiny material-icons">supervisor_account</i>
                                <a href="//www.linkedin.com/in/sebastien-palacin">LinkedIn</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright blue-grey darken-4">
            <div class="container">
              <div class="row">
                <div class="col s3 right">
                  © 2016
                  <a href="//www.github.com/sbstnplcn">@sbstnplcn</a>
                </div>
                <div class="col s4 offset-s3">
                  <a class="grey-text text-lighten-4" href="#!">More Links</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
