<!-- Left Panel -->
<section>
    <a class="waves-effect waves-light close" ng-click="$ctrl.toggleSidebar()">
        <i class="material-icons medium hide-on-large-only">menu</i>
    </a>

    <div class="row {{$ctrl.showSidebar ? 'toggleshow' : '' }}">
        <div class="col s3 blue-grey darken-3" id="leftpanel">
            <div class="row">
                <img src="src/img/avatar.jpg" alt="" class="circle responsive-img">
                <h1 class="center-align">Sébastien
                    <strong>Palacin</strong>
                </h1>
                <!-- <a class="waves-effect waves-light btn col s12" href="#LM">Ma Motivation</a> -->
            </div>
            <div ng-repeat="info in $ctrl.infos">
                <span class="chip" ng-repeat="chip in info.chips | limitTo : 10">
                    {{chip}}
                </span>
            </div>
            <div class="row">
                <h1>
                    <i class="small material-icons">perm_identity</i>
                    <span class="title">Contact</span>
                    <hr class="hide-on-med-and-down">
                </h1>
                <ul>
                    <li>
                        <p>
                            <i class="tiny material-icons">phone</i>
                            +33(0)6 30 99 80 57</p>
                    </li>
                    <li>
                        <p>
                            <i class="tiny material-icons">email</i>
                            sebastien.palacin@gmail.com</p>
                    </li>
                </ul>
                <div class="col s6 nopad">
                    <i class="tiny material-icons">supervisor_account</i>
                    <a href="//www.github.com/sbstnplcn" target="_blank">Github</a>
                    <br/>
                    <i class="tiny material-icons">supervisor_account</i>
                    <a href="//www.doyoubuzz.com/sebastien-palacin" target="_blank">DoYouBuzz</a>
                </div>
                <div class="col s6 nopad">
                    <i class="tiny material-icons">supervisor_account</i>
                    <a href="//www.linkedin.com/in/sebastien-palacin" target="_blank">LinkedIn</a>
                    <br/>
                    <i class="tiny material-icons">supervisor_account</i>
                    <a href="//www.viadeo.com/fr/profile/sebastien.palacin" target="_blank">Viadeo</a>
                </div>
            </div>
            <div class="row hide-on-small-and-down">
                <h1>
                    <i class="small material-icons">theaters</i>
                    <span class="title">Hobbies</span>
                    <hr class="hide-on-med-and-down">
                </h1>
                <ul>
                    <li>
                        <p>
                            <i class="tiny material-icons">library_music</i>
                            Musique : Guitare, Piano</p>
                    </li>
                    <li>
                        <p>
                            <i class="tiny material-icons">library_books</i>
                            Lecture : S-F, Fantasy, Epouvante, Thriller</p>
                    </li>
                    <li>
                        <p>
                            <i class="tiny material-icons">theaters</i>
                            Cinema : Horreur, Science-Fiction, Comédie</p>
                    </li>
                    <li>
                        <p>
                            <i class="tiny material-icons">games</i>
                            Culture Geek</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
