<!-- Navbar -->
<section>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue-grey darken-2">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#wia">Me Connaitre</a>
                    </li>
                    <li>
                        <a href="#xp">Expériences</a>
                    </li>
                    <li>
                        <a href="#studies">Études</a>
                    </li>
                    <li>
                        <a href="#skills">Compétences</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
