<!-- Content -->
<div class="row">
    <div class="col offset-s3 s9 blue-grey lighten-5" id="rightpanel">

        <!--WhoIAm -->
        <div class="row" id="wia">
            <h1>
                <i class="medium material-icons">work</i>
                Me Connaitre
                <hr></h1>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel white">
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Experiences -->
        <div class="row" id="xp">
            <h1>
                <i class="medium material-icons">work</i>
                Expériences Professionnelles
                <hr></h1>
            <div class="row">
                <div class="col s12">
                    <div class="card white" ng-repeat="exp in $ctrl.infos[0].exps | limitTo : $ctrl.expslimit">
                        <div class="card-content">
                            <span class="card-title">{{exp.title | uppercase}}</span>
                            <span class="right">/
                                {{exp.period | uppercase}}
                                /
                                {{exp.city | uppercase}}</span>

                            <p>
                                <span ng-repeat="(key, chip) in exp.keywords.chips" class="chip">{{chip}}</span>
                            </p>
                            <p>
                                <strong>{{exp.status}}</strong>
                            </p>
                            <ul>
                                <li ng-repeat="(key, skill) in exp.contents.skills">{{skill}}</li>
                            </ul>
                        </div>
                    </div>
                    <a class="waves-effect waves-light btn right blue-grey darken-3" ng-click="$ctrl.loadMoreExps()" ng-if="$ctrl.expslimit < $ctrl.exps.length"><i class="material-icons right">library_add</i>Voir Plus</a>
                </div>
            </div>
        </div>

        <!-- Studies -->
        <div class="row" id="studies">
            <h1>
                <i class="medium material-icons">mode_edit</i>
                Études
                <hr></h1>
                <div class="row">
                    <div class="col s12">
                        <div class="card white" ng-repeat="exp in $ctrl.infos[1].studies | limitTo : $ctrl.studieslimit">
                            <div class="card-content">
                                <span class="card-title">{{exp.title | uppercase}}</span>
                                <span class="right">/
                                    {{exp.period | uppercase}}
                                    /
                                    {{exp.city | uppercase}}</span>

                                <p>
                                    <span ng-repeat="(key, chip) in exp.keywords.chips" class="chip">{{chip}}</span>
                                </p>
                                <p>
                                    <strong>{{exp.status}}</strong>
                                </p>
                                <ul>
                                    <li>{{exp.contents}}</li>
                                </ul>
                            </div>
                        </div>
                        <a class="waves-effect waves-light btn right blue-grey darken-3" ng-click="$ctrl.loadMoreStudies()" ng-if="$ctrl.studieslimit < $ctrl.studies.length"><i class="material-icons right">library_add</i>Voir Plus</a>
                    </div>
                </div>
        </div>

        <!-- Skills -->
        <div class="row" id="comp">
            <h1>
                <i class="medium material-icons">assessment</i>
                Compétences Professionnelles
                <hr></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
    </div>
</div>
