html{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Roboto", sans-serif
}
h1 {
    font-size: 2em;
    font-weight: 100;
    line-height: 80%;
}

hr {
    width: 50%;
    float: right;
}

a {
    color: white;
}

nav .brand-logo {
    left: 1em;
}

nav {
    height: 64px;
}

i.medium {
    font-size: 3rem;
}

#leftpanel {
    height: 100vh;
    position: fixed;
    overflow: scroll;
    color: white;
    font-weight: 100;
    z-index: 2;
}

#leftpanel .row {
    margin-top: 2em;
}

#leftpanel img {
    max-width: 40%;
    margin: auto;
    display: block;
    border: 5px solid #FFF;
}

#leftpanel p {
    text-align: justify;
}

#leftpanel hr {
    width: 30%;
}

#rightpanel {
    margin-top: 64px;
}

#rightpanel p {
    text-align: justify;
}

#rightpanel h1 {
    color: black;
}

#rightpanel footer.page-footer, #rightpanel .nav-wrapper {
    margin: 0 -1.2vh;
}

#footer, #footer h1 {
    color: white;
    font-weight: 100;
}

#wia p {
    text-align: justify;
}

@media (max-width: 769px) {
    .infos {
        font-size: 0.7em;
    }
}

@media (max-width: 993px) {
    #leftpanel {
        min-width: 320px;
    }
    .toggleshow {
        display: none;
    }
}

@media (min-width: 992px) {
    .toggleshow {
        display: block;
    }
}

.chip {
    height: 25px;
    line-height: 25px;
}

.navbar-fixed {
    position: fixed;
}

.row {
    margin-bottom: 0px;
}

.title {
    position: absolute;
    margin: 5px;
}

.infos {
    position: absolute;
    right: 2em;
    top: 2em;
}

.navbar-fixed {
    z-index: 1;
}

.close {
    position: fixed;
    z-index: 3;
    color: white;
    top: 1%;
    left: 1%;
}

.gradient {
    background: linear-gradient(transparent, rgba(255, 255, 255, 0) 14.29%, white);
    padding-top: 20%;
    margin-top: -20%;
    position: relative;
    z-index: 0;
}
.waves-effect:not(.close) {
    z-index: 0;
}
